src/com/tegik/facelectr/hearthbeat/InfoTimbrado.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SERTEG_INFOTIMBRADO">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="foliofiscal"/>
        <xs:element type="xs:string" name="rfcreceptor"/>
        <xs:element type="xs:string" name="rfcemisor"/>
        <xs:element type="xs:string" name="urltimbrado"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>